@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient( to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

main {
    background-image: linear-gradient(135deg, rgb(61, 113, 208), rgb(61, 113, 208), rgb(114, 103, 215));
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}


/* Smooth scrolling */

html {
    scroll-behavior: smooth;
}


/* Custom scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
}

.intro-section {
    background-image: url(../../public/assets/img/top02_1_bg.jpg);
}